.patient-profile{
    background: #fff;
    border-radius: 3px;
}

.patient-profile > h3, .patient-profile > h4{
    text-align: center;
    margin: 0;
    line-height: 1;
}

.patient-profile h3{
    margin-top: 20px;
}

.patient-profile-info{
    background: #f4f4ef;
    border-top: solid 1px #e1e1de;
    padding: 20px;
    margin-top: 20px;
}

.patient-profile-info h4{
    font-size: 1.125em;
}

.patient-profile-info .content-block{
    margin-bottom: 20px;
}